<%if(data&&data.length>0){%>
<%_.each(data,function (item) {%>
<tr>
    <td><%=item.serial_number%></td>
    <td><%=item.mac.toMac()%></td>
    <td>
        <%if(item.purchase_date){%>
             <%=new Date(item.purchase_date).Format("yyyy-MM-dd")%>
        <%}%>
    </td>
</tr>
<%})%>

<%if(totalPage) {%>
<tr>
    <td colspan="3">
        <nav>
            <ul class="pager">
                <li><%=pageNo%>/<%=totalPage%>页</li>
                <li>
                    <%if(pageNo !== 1){%><a href="javascript:;" class="uppage">上一页</a><%}%>
                </li>
                <li>
                    <%if(pageNo !== totalPage){%><a href="javascript:;" class="nextpage">下一页</a><%}%>
                </li>
            </ul>
        </nav>
    </td>
</tr>
<%}%>
<%} else {%>
<tr>
    <td colspan="3" style="text-align: center">没有查询到商品相关信息</td>
</tr>
<%}%>